[submodule "py-data"]
	path = py-data
	url = git@github.com:abuabdirohman4/py-data.git
	branch = master
[submodule "py-flask"]
	path = py-flask
	url = git@github.com:abuabdirohman4/py-flask.git
	branch = master
[submodule "py-odoo"]
	path = py-odoo
	url = git@github.com:abuabdirohman4/py-odoo.git
	branch = master
[submodule "py-oop"]
	path = py-oop
	url = git@github.com:abuabdirohman4/py-oop.git
	branch = main
[submodule "py-pythonic"]
	path = py-pythonic
	url = git@github.com:abuabdirohman4/py-pythonic.git
[submodule "py-basic"]
	path = py-basic
	url = git@github.com:abuabdirohman4/py-basic.git
